.navbar{
    display: flex;
    width: 100%;
    background: red;
    
}
.navbar h1{
    margin-left: 40px;
}

.navbar a{
    margin-top: 25px;
    margin-left:40px;
    font-size: 25px;
    font:bold;
    text-decoration: none;
}


